<div class="barchart">
<div class="panel-heading">Jämför din årslön år 2014 med medel årslöner för män respektive kvinnor</div>
<canvas id="bar" 
  class="chart chart-bar"
  chart-data="data2" 
  chart-labels="labels2" 
  chart-series="series2">
</canvas> 


 <form 
  name="yourSalary"
  class="yourSalary my-input">   
 
   <input 
   required
   placeholder="Din års här" 
   ng-model = "yourValue"
   ng-pattern="/^\d+$/" 
   aria-describedby="inputDescription" />
 
 <input
  type="submit" 
  ng-click = "addUserValue(yourValue, 'Din lön'); showNext = !showNext ; disableButton(1)" 
  value="lägg till"
  ng-disabled=" yourSalary.$invalid || isDisabled " 
  ng-class="{ false: 'submit-valid', true: 'submit-invalid'  }[yourSalary.$invalid]" >  
 
 </form>

 <form 
  ng-hide="!showNext"
  name="partnersSalary"
  class="partnersSalary my-input">   
 
  <input 
    required
    placeholder="Din sambos års lön" 
    ng-model = "partnerValue2"
    ng-pattern="/^\d+$/" 
    aria-describedby="inputDescription" />
 
  <input
    type="submit" 
    ng-click = "addUserValue(partnerValue2, 'Din sambos lön') ; disableButton(2)" 
    value="lägg till"
    ng-disabled="partnersSalary.$invalid || isDisabled2" 
    ng-class="{ false: 'submit-valid', true: 'submit-invalid'  }[partnersSalary.$invalid]" >  
 
 </form>
 
 <!--<form name="testForm">
  <input ng-model="addUserValue" ng-pattern="/^\d+$/" name="anim" class="my-input"
         aria-describedby="inputDescription" />
</form>

<form name="userForm">
    <label>Name:
      <input type="text" name="userName"
             ng-model="addUserValue"
             ng-model-options="{ getterSetter: true }" />
    </label>
  </form>-->
 
</div>